version: "3.8"

services:
  robots-server:
    build: .
    container_name: log-rotator
    ports:
      - "2323:2323"
    environment:
      - TERM=xterm-256color
    restart: unless-stopped
    networks:
      - internal

networks:
  internal:
    driver: bridge
